:root {
  --cor-primaria: white;
  --cor-secundaria: greenyellow;
  --cor-terciaria: lightskyblue;
  --cor-quaternaria: black;
  --fonte-primaria: 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-primaria);
  color: var(--cor-quaternaria);
  font-family: var(--fonte-primaria);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 1.25rem;
}

main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.87rem;
  flex-wrap: wrap;
}

.input {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1.25rem;
}

.logoAlura {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0;

}

.input_form textarea,
.input_form textarea:focus {
  width: 100%;
  height: 21.87rem;
  border: none;
  resize: none;
  font-size: 1.38rem;
  font-weight: 600;
  line-height: 150%;
  outline: none;
  background-color: var(--cor-primaria);
  text-transform: lowercase;
  padding-left: 1.25rem;
  border-radius: 1rem;


}

textarea::placeholder {
  color: var(--cor-terciaria);
  opacity: 90%;
  text-transform: none;
}

.input_submit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.input_submit_info {
  display: flex;
  align-items: center;
  gap: 0.312rem;
  color: var(--cor-quaternaria);
  font-size: 0.93rem;
}

.icone_exclamacao {
  width: 1.5rem;
  height: 1.5rem;
}

.input_submmit_buttons {
  display: flex;
  gap: 1.5rem;
}

.button-crip,
.button-discr {
  padding: 0.625rem;
  width: 15.62rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  border: 1px solid #0a3871;
  cursor: pointer;
}

.button-crip {
  background-color: #0a3871;
  color: #ffffff;
}

.button-discr {
  background-color: #d8dfe8;
  color: #0a3871;
}

.campo_resultado {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--cor-primaria);
  border-radius: 2rem;
  padding: 1.25rem;
  align-items: center;
  font-weight: 600;
}

.campo_resultado textarea,
.campo_resultado textarea:focus {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  font-weight: 400;
  line-height: 200%;
  outline: none;
  background-color: grey;
  color: chartreuse;
  font-size: 1.5rem;
  display: none;
  text-transform: lowercase;
  border-radius: 1rem;
  padding: 1rem;

}

.campo_resultado_visual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 2rem 0;
}

.imagem_resultado {
  max-width: 18.75rem;
  width: 100%;
}

.info_resultado {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cor-quaternaria);
}

.botao_copiar {
  display: flex;
  padding: 0.625rem;
  width: 20%;
  font-size: 1rem;
  border-radius: 1.5rem;
  border: 1px solid #0a3871;
  background-color: #ffffff;
  color: #0a3871;
  cursor: pointer;
  display: none;
  align-items: center;
}

.about {
  background-color: var(--cor-terciaria);
  color: var(--cor-quaternaria);
  text-align: center;
  width: 100vw;
  padding: 1rem 0;
  font-size: 1rem;


}

.link_about {
  text-decoration: none;
}

@media (max-width: 1024px) {
  main {
    flex-direction: column;
    padding: 1.5rem;
  }

  .input {
    padding-top: 1rem;
    padding-right: 0;
    margin-bottom: 4rem;
  }

  .input_form {
    font-size: 0.75rem;
  }

  .campo_resultado {
    padding: 1rem;
  }

  .campo_resultado_visual {
    display: none;
  }

  .info_resultado {
    font-size: 1rem;
  }

  .botao_copiar {
    padding: 1rem;
    font-size: 0.875rem;
  }

  .about {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .logoAlura {
    width: 2.5rem; 
    height: 2.5rem; 
     
  }
  .input{
    padding: 0.01rem;
  }
  .input_form {
    padding: 0.001rem;
  
  }
  main {
    flex-direction: column;
    padding: 0.08rem;
  }

  .input, .campo_resultado {
    flex: 1 100%;
    padding: 0.625rem;
  }

  .button-crip, .button-discr {
    width: 100%;
  }

  .botao_copiar {
    width: 100%;
  }

  .campo_resultado textarea, .campo_resultado textarea:focus {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {

  body {
    display: flex;
    padding: 0.5rem;
  }

  .input_form textarea,
  .campo_resultado textarea {
    height: 10rem;
    font-size: 1.125rem;
    margin-top: 0.01rem;
  }

  .button-crip, .button-discr {
    font-size: 0.875rem;
  }

  .info_resultado {
    font-size: 1.25rem;
  }
}